# ---- Ambiente / Configurações ----
.env
*.env
.env.*
.venv/
venv/
ENV/

# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Banco de Dados (SQLite) ----
*.db
*.sqlite3
backend/app/database.db

# ---- Logs ----
*.log
logs/

# ---- Editor / IDE ----
.vscode/
.idea/

# ---- Sistema ----
.DS_Store
Thumbs.db
backend/app/uploads/avatars/

# ---- Node ----
node_modules/
dist/
build/
