.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.book-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.book-cover {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.add-to-library {
  position: relative;
  top: 10px;
  right: -70px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}